.review-section {
    display: flex;
    gap: 20px;
    padding: 20px;
  }
  
  .filters {
    flex: 1;
  }
  
  .reviews {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .rating-filter{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  